/*
Author: Viki;
Theme: food order web admin;
version: 1.0;
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  /*font-family: "Lato", sans-serif;*/
  font-family: "Quicksand", sans-serif;
}
.wrapper {
  padding: 1%;
  width: 80%;
  margin: 0 auto;
}
.text-center,
.menu {
  text-align: center;
}
.tbl-full {
  width: 100%;
}
.tbl-30 {
  width: 30%;
}
table tr th {
  border-bottom: 1px solid #191919;
  padding: 1%;
  text-align: left;
}
table tr td {
  padding: 1%;
}
.clear-fix {
  float: none;
  clear: both;
}
.btn-primary {
  background-color: #1e90ff;
  padding: 1%;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.btn-primary:hover {
  background-color: #3742fa;
}
.btn-secondary {
  background-color: #7bed9f;
  padding: 1%;
  color: rgb(5, 5, 5);
  text-decoration: none;
  font-weight: bold;
}
.btn-secondary:hover {
  background-color: #2ed573;
}
.btn-danger {
  background-color: #ff6b81;
  padding: 1%;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.btn-danger:hover {
  background-color: #ff4757;
}
.success {
  color: #0ed654;
}
.error {
  color: #ff4757;
}
/*css for menu*/
.menu {
  border-bottom: 1px solid #181818;
}
.menu ul {
  list-style-type: none;
}
.menu ul li {
  display: inline;
  padding: 1%;
}
.menu ul li a {
  text-decoration: none;
  color: #ff6b81;
  font-weight: bold;
}
.menu ul li a:hover {
  color: #ff4757;
}

/*css for main content*/
.main-content {
  background-color: #cdcdcd;
  padding: 3% 0;
}
.col-4 {
  width: 18%;
  background-color: #fff;
  margin: 1%;
  padding: 2%;
  float: left;
}

/*css for footer*/
.footer {
  background-color: #ff4757;
  color: #fff;
}
/*css for login*/
.login {
  width: 20%;
  border: 1px solid rgb(110, 98, 98);
  margin: 10% auto;
  padding: 2%;
}
