* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.question {
    font-weight: 600;
}

.answers {
    margin-bottom: 20px;
}

.answers label {
    display: block;
}


/* #submit {
    font-family: sans-serif;
    font-size: 20px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
} */

#submit:hover {
    background-color: #38a;
}

#next {
    display: none;
}

.products .col-sm-4 {
    max-width: 350px;
    margin-left: 20px;
}

.products .col-sm-4:hover {
    background: rgb(2, 122, 2);
}

.products .col-sm-4:hover h1 {
    color: #fff !important;
}

.products .col-sm-4 h1 {
    font-size: 20px;
    padding-bottom: 20px;
}

#myCheck {
    height: 350px;
    position: absolute;
    width: 300px;
    border: none;
}