.col-sm-5 {
    background-color: #ffffff;
    max-width: 300px;
    max-height: 180vh;
    overflow: scroll;
}

.col-sm-5 .dashboard {
    background-color: #46255B;
    min-width: 240px;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.row .col-sm-9 .dashboard-admin .user-img img {
    border-radius: 30px;
    border: 2px solid blue;
    padding: 5px;
}

.col-sm-9 .d-flex h4 {
    color: #46255B;
    font-weight: 900;
}

.col-sm-9 .d-flex h4 {
    color: #46255B;
    font-weight: 500;
}

.search input[type="search"] {
    border-radius: 30px;
    padding-left: 5px;
    padding: 10px;
}

.bg-primary-color {
    background-color: #46255B;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
}

.row .col-sm-9 .row .col-sm-6 {
    max-width: 450px;
    min-height: 150px;
    margin-left: 30px;
    border-radius: 10px;
    padding-top: 20px;
}

.row .col-sm-9 .row .bg-purple {
    background-color: #B561D3;
}

.row .col-sm-9 .row .bg-danger {
    background-color: #F5827F;
}

.row .col-sm-9 .row .border-icon-img {
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 100%;
}

.row .doctors {
    background-color: #fff;
    padding-bottom: 20px;
    max-width: 650px;
    max-height: 450px;
}

.row .patients {
    max-width: 330px;
    margin-top: 45px;
    border-radius: 80px;
}

.row .patients .shadow {
    background-color: #ffffff;
    padding-top: 30px;
}

.row .col-sm-8 .row .col-sm-3 {
    max-width: 150px;
    margin-left: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.row .col-sm-8 .row .col-sm-3 img {
    height: 100px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
}